section(data-background-image='src/assets/images/logo.jpg')
  h3 Conclusion 
  image.logo.fragment.fade-in(src='images/atom.svg')
  image.logo.fragment.fade-in(src='images/discord.svg')
  image.logo.fragment.fade-in(src='images/slack.svg')
  image.logo.fragment.fade-in(src='images/trello.svg')
  image.logo.fragment.fade-in(src='images/figma.svg')
  image.logo.fragment.fade-in(src='images/facebook_messenger.svg')
  image.logo.fragment.fade-in(src='images/skype.svg')
  image.logo.fragment.fade-in(src='images/microsoft-teams.svg')
  image.logo.fragment.fade-in(src='images/twitch.svg')
  p.fragment.fade-in and more then 700 applications 
  a.fragment.fade-in(href='https://www.electronjs.org/apps') www.electronjs.org
  aside.notes Electron is a progressive software development framework that has given us a number of prominent desktop applications, including Atom,
              | Discord, Slack, Trello, Figma and more then 700 applications . The reasons why professional Electron JS developers enjoy using it include its 
              | low barrier to entry, fast speed of development, automatic updates and convenient installers, cross-platform support, and its large community 
              | of developers and users.