section
  section
    h2 Quick start
    p install npm & Node
    p To clone and run 
      a electron-quick-start 
      |repository
    p npm install --save-dev electron
    p npm start
    aside.notes To get started with developing using the Electron, you need to have Node and npm(node package manager) installed. 
                |To clone and run for a quick way to see Electron in action. Install Electron and start!
  section  
    include sub-sllides/subSlide-1-for-s9.pug