section(data-background-image="src/assets/images/logo.jpg")
  section 
    h2 Electron
    p The framework developed in 2013
    include sub-sllides/subSlide-1-for-s1.pug
    aside.notes Electron is a framework developed by GitHub in 2013 that is used to creating cross-platform applications using HTML, CSS and JavaScript.  
              |Such applications can run on various platforms. Among they are Windows, Mac, and Linux.
  section
    include sub-sllides/subSlide-2-for-s1.pug  