section 
  h3 Why should you build an Electron desktop app?
  ul
    li.fragment.fade-in Low barrier to entry
    li.fragment.fade-in Increased development speed
    li.fragment.fade-in Automatic updates and convenient installers
    li.fragment.fade-in Cross-platform support
    li.fragment.fade-in Large community of developers and users
  aside.notes 1 Low barrier to entry-Because Electron uses JavaScript, HTML, CSS, and other web technologies, virtually all developers with web development skills can get started with it without much effort. 
              |2 Increased development speed-  Electron uses JavaScript, one of the easiest and most effective programming languages in use today. Because JavaScript code is interpreted line by line, developers can 
              |effortlessly debug and optimize it, which allows them to ship applications much faster than they could otherwise.
              |3 Automatic updates and convenient installers- Electron desktop apps can automatically update themselves thanks to the autoUpdater component and creating convenient installers for Electron desktop apps takes very little
              | time thanks to electron-builder, a complete solution to package and build a ready for distribution Electron app.
              |4 *Cross-platform support- The reason Electron desktop applications run flawlessly across different operating systems is simple: they are essentially instances of the Chromium web browser, Google’s
              | open-source web browser project. That’s also why they tend to consume far more memory than desktop applications written in other programming languages.
              |5 *Large community of developers and users-Electron is a massive open source project whose reach spans the globe, and there are thriving Electron communities of developers and users everywhere, producing an abundance 
              | of educational resources and development tools.