section 
  h2 How it works?
  image(src='images/works.jpg')
  aside.notes Electron apps are like Node apps and use a package.json file. It's there that you define which file is 
              |your main process and thus where Electron should start app. Then that main process can create renderer processes 
              |and then use IPC to pass messages between the two.