section
  h2 What's developing like?
  p Electron combines Chromium and Node.js with a set of custom APIs for native operating system functions like open file dialogs, notifications, icons and more.
  image.logo(src='images/Chromium.svg')
  image.logo(src='images/node.svg')
  image.logo(src='images/electron.svg')
  aside.notes
    |Electron combines Chromium and Node.js with a set of custom APIs for native operating system functions 
    |like open file dialogs, notifications, icons and more. Developing with Electron is like building web pages 
    |that we can seamlessly use Node in—or building a Node app in which we can build an interface with HTML and CSS. 
    |And we only need to design for one browser, the latest Chrome.