section
  h2 Types of Process
  p Electron has two types of processes:
  p Main and Renderer
  image(src='images/basic.jpg')
  aside.notes Electron has two types of processes: Main and Renderer. The process that runs package.json's main script is 
              |called the main process. The script that runs in the main process can display a GUI by creating web pages. 
              |An Electron app always has one main process, but never more.