section
  h2 Interprocess communication
  p IPC The main process and renderer process each have an IPC module to use.
  image(class="fragment fade-up" src='images/architecture.jpg')
  aside.notes The main and renderer processes need to be able to communicate since they're both responsible 
              |for different tasks. For that there's IPC, interprocess communication. 