section(data-background-image='images/logo.jpg')
  aside.notes The look and feel of desktop applications have advanced leaps and bounds over the past several years,
              | with more and more applications resembling modern websites than ever before. The technology behind this 
              | latest evolutionary step of desktop applications is called Electron
